{% extends "base.html" %}

{% block content %}
    <!-- Título principal da página -->
    <h1>Lista de acesso aos utilizadores</h1>

    <!-- Tabela que apresenta os utilizadores vindos da base de dados -->
    <table border="1" cellpadding="6">
        <tr>
            <!-- Cabeçalho da tabela -->
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Administrar</th>
        </tr>

        <!-- Loop Jinja2 que percorre todos os utilizadores enviados pelo Flask -->
        {% for u in usuarios %}
        <tr>
            <!-- Cada coluna recebe um valor do dicionário retornado pelo SELECT -->
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.role }}</td>
            
            <!-- Coluna das ações (editar/apagar) -->
            <td>
                {% if session["user_role"] == "admin": %} <!-- 14 É o ID do meu usuário admin -->
                <!-- Link para editar utilizador, passando o ID na URL -->
                <a href="/editar_admin/{{ u.id }}">Editar</a>

                <!-- Formulário para apagar (POST evita apagar por URL direta) -->
                <form action="/apagar_admin/{{ u.id }}" method="post" style="display:inline;">
                    <button type="submit">Apagar</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <!-- Fim do loop -->

    </table>
{% endblock %}
